.cardAnime {
  transition: background 0.3s ease, background-size 0.3s ease; /* Ajusta la duración según lo rápido que desees el cambio */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 17vh;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  padding: 0;
}

.cardAnimeHover {
  background-size: 105%; /* Estira el fondo ligeramente */
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), var(--image-url);
}