.cardAnime {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
  padding: 0;
  height:17vh;
  transition: transform 300ms linear;
}

.cardAnime:hover {
  transform: scale(1.2);
}